@{ 
    Layout = null;
}

<html>
<head>
    <titt></titt>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Index.css"/>
</head>
<body>
       <main class="container">
           <div class="game">
               <div class="box">x</div>
               <div class="box">o</div>
               <div class="box"></div>
               <div class="box"></div>
               <div class="box"></div>
               <div class="box"></div>
               <div class="box"></div>
               <div class="box"></div>
               <div class="box"></div>
           </div>
       </main>
</body>
</html>